In [1]:
import requests
import json
import pandas as pd
import numpy as np
import datetime
import calendar
import mpl_finance
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
from mpl_finance import candlestick_ohlc

In [ ]:
df_candles.groupby([df_candles.index.date, 'Complete']).count()#.plot(kind='bar').show

In [28]:
months = [1,2,3,4,5,6,7]
pairs = ['EUR_USD']

for p in pairs:
    for m in months:
        pull(p,2018,m)

In [10]:
def pull(instrument, year, month):
    from_date = datetime.datetime(year,month,1)
    end_date = datetime.datetime(year,month+1,1)
    new_from_date = from_date
    from_date_text = str(from_date)
    i=0
    headers = {'Content-Type':'application/json','Authorization':'Bearer e7094b8374df59dc8dd3def1da0dd1a6-521fc030ee2390d7b5a3a742a56f1a18'}


    while new_from_date < end_date: 

        url = 'https://api-fxpractice.oanda.com/v3/instruments/'+instrument+'/candles?count=5000&price=BA&from='+from_date_text+'&granularity=S5'

        r = requests.get(url,headers=headers)
        json_pull = r.json()

        if i == 0:

            raw_candles=json_pull['candles']

        else:
            new_candles = json_pull['candles']

            raw_candles.extend(new_candles)

        new_from_date = datetime.datetime.strptime(raw_candles[-1]['time'][:-11], '%Y-%m-%dT%H:%M:%S')
        if new_from_date < end_date:
            from_date_text = str(new_from_date)

        i += 1

    candles = np.empty((len(raw_candles),), dtype=[('Complete','S5'),('Volume', 'int32'), ('Time', 'datetime64[ms]'), ('Bid_Open', 'float64'), 
                                                  ('Bid_High', 'float64'), ('Bid_Low', 'float64'), ('Bid_Close', 'float64'), 
                                                  ('Ask_Open', 'float64'), ('Ask_High', 'float64'), ('Ask_Low', 'float64'), 
                                    ('Ask_Close', 'float64'),])


    for num, value in enumerate(raw_candles):

        candles[num]['Complete'] = raw_candles[num]['complete']
        candles[num]['Volume'] = raw_candles[num]['volume']    
        candles[num]['Time'] = np.datetime64(datetime.datetime.strptime(raw_candles[num]['time'][:-11], '%Y-%m-%dT%H:%M:%S'),unit = 'S')
        candles[num]['Bid_Open'] = raw_candles[num]['bid']['o']
        candles[num]['Bid_High'] = raw_candles[num]['bid']['h']
        candles[num]['Bid_Low'] = raw_candles[num]['bid']['l']
        candles[num]['Bid_Close'] = raw_candles[num]['bid']['c']
        candles[num]['Ask_Open'] = raw_candles[num]['ask']['o']
        candles[num]['Ask_High'] = raw_candles[num]['ask']['h']
        candles[num]['Ask_Low'] = raw_candles[num]['ask']['l']
        candles[num]['Ask_Close'] = raw_candles[num]['ask']['c']


    df_candles = pd.DataFrame(data=candles,    # values
                        columns=candles.dtype.names)

    df_candles['Time'].astype(datetime.datetime)

    df_candles.index = df_candles['Time']

    df_candles_final = df_candles.loc[:end_date]

    df_candles_final.to_pickle('C:\\Users\\pebaqu\\Desktop\\Personal\\Python\\Datasets\\'+str(from_date.date())+'_'+instrument)

In [27]:
%%time

instrument = 'EUR_USD'

year = 2018
month = 1
calendar.monthrange(year, month)


from_date = datetime.datetime(year,month,1)
end_date = datetime.datetime(year,month+1,1)
new_from_date = from_date
from_date_text = str(from_date)
i=0
headers = {'Content-Type':'application/json','Authorization':'Bearer e7094b8374df59dc8dd3def1da0dd1a6-521fc030ee2390d7b5a3a742a56f1a18'}


while new_from_date < end_date: 
    
    url = 'https://api-fxpractice.oanda.com/v3/instruments/'+instrument+'/candles?count=5000&price=BA&from='+from_date_text+'&granularity=S5'

    r = requests.get(url,headers=headers)
    json_pull = r.json()

    if i == 0:
        
        raw_candles=json_pull['candles']
    
    else:
        new_candles = json_pull['candles']
        
        raw_candles.extend(new_candles)
    
    new_from_date = datetime.datetime.strptime(raw_candles[-1]['time'][:-11], '%Y-%m-%dT%H:%M:%S')
    if new_from_date < end_date:
        from_date_text = str(new_from_date)
    
    i += 1
    
candles = np.empty((len(raw_candles),), dtype=[('Complete','S5'),('Volume', 'int32'), ('Time', 'datetime64[ms]'), ('Bid_Open', 'float64'), 
                                              ('Bid_High', 'float64'), ('Bid_Low', 'float64'), ('Bid_Close', 'float64'), 
                                              ('Ask_Open', 'float64'), ('Ask_High', 'float64'), ('Ask_Low', 'float64'), 
                                ('Ask_Close', 'float64'),])


for num, value in enumerate(raw_candles):

    candles[num]['Complete'] = raw_candles[num]['complete']
    candles[num]['Volume'] = raw_candles[num]['volume']    
    candles[num]['Time'] = np.datetime64(datetime.datetime.strptime(raw_candles[num]['time'][:-11], '%Y-%m-%dT%H:%M:%S'),unit = 'S')
    candles[num]['Bid_Open'] = raw_candles[num]['bid']['o']
    candles[num]['Bid_High'] = raw_candles[num]['bid']['h']
    candles[num]['Bid_Low'] = raw_candles[num]['bid']['l']
    candles[num]['Bid_Close'] = raw_candles[num]['bid']['c']
    candles[num]['Ask_Open'] = raw_candles[num]['ask']['o']
    candles[num]['Ask_High'] = raw_candles[num]['ask']['h']
    candles[num]['Ask_Low'] = raw_candles[num]['ask']['l']
    candles[num]['Ask_Close'] = raw_candles[num]['ask']['c']

    
df_candles = pd.DataFrame(data=candles,    # values
                    columns=candles.dtype.names)
    
df_candles['Time'].astype(datetime.datetime)

df_candles.index = df_candles['Time']

df_candles_final = df_candles.loc[:end_date]

display(df_candles_final)

df_candles_final.to_pickle('C:\\Users\\pebaqu\\Desktop\\Personal\\Python\\Datasets\\'+str(from_date.date())+'_'+instrument)

,Complete,Volume,Time,Bid_Open,Bid_High,Bid_Low,Bid_Close,Ask_Open,Ask_High,Ask_Low,Ask_Close
Time,,,,,,,,,,,
2018-01-01 22:00:00,b'True',1,2018-01-01 22:00:00,1.20041,1.20041,1.20041,1.20041,1.20101,1.20101,1.20101,1.20101
2018-01-01 22:01:30,b'True',5,2018-01-01 22:01:30,1.20070,1.20070,1.20037,1.20037,1.20130,1.20130,1.20097,1.20097
2018-01-01 22:01:50,b'True',4,2018-01-01 22:01:50,1.20033,1.20038,1.20021,1.20038,1.20093,1.20098,1.20081,1.20098
2018-01-01 22:02:00,b'True',2,2018-01-01 22:02:00,1.20038,1.20038,1.20038,1.20038,1.20098,1.20098,1.20098,1.20098
2018-01-01 22:02:05,b'True',1,2018-01-01 22:02:05,1.20043,1.20043,1.20043,1.20043,1.20103,1.20103,1.20103,1.20103
2018-01-01 22:03:45,b'True',7,2018-01-01 22:03:45,1.20027,1.20042,1.20022,1.20042,1.20087,1.20102,1.20082,1.20102
2018-01-01 22:06:00,b'True',2,2018-01-01 22:06:00,1.20036,1.20036,1.20030,1.20030,1.20096,1.20096,1.20090,1.20090
2018-01-01 22:06:15,b'True',1,2018-01-01 22:06:15,1.20014,1.20014,1.20014,1.20014,1.20074,1.20074,1.20074,1.20074
2018-01-01 22:06:35,b'True',3,2018-01-01 22:06:35,1.20027,1.20035,1.20027,1.20035,1.20087,1.20095,1.20087,1.20095
2018-01-01 22:06:50,b'True',5,2018-01-01 22:06:50,1.20052,1.20064,1.20052,1.20064,1.20109,1.20112,1.20095,1.20095
2018-01-01 22:06:55,b'True',10,2018-01-01 22:06:55,1.20059,1.20059,1.20027,1.20038,1.20088,1.20096,1.20072,1.20087
2018-01-01 22:07:00,b'True',2,2018-01-01 22:07:00,1.20042,1.20046,1.20042,1.20046,1.20091,1.20094,1.20091,1.20094
2018-01-01 22:07:35,b'True',5,2018-01-01 22:07:35,1.20046,1.20046,1.20017,1.20017,1.20087,1.20092,1.20075,1.20075
2018-01-01 22:07:40,b'True',2,2018-01-01 22:07:40,1.20033,1.20038,1.20033,1.20038,1.20093,1.20098,1.20093,1.20098
2018-01-01 22:07:45,b'True',2,2018-01-01 22:07:45,1.20043,1.20051,1.20043,1.20051,1.20103,1.20103,1.20098,1.20098
2018-01-01 22:08:15,b'True',5,2018-01-01 22:08:15,1.20048,1.20059,1.20045,1.20045,1.20105,1.20119,1.20105,1.20105
2018-01-01 22:08:20,b'True',3,2018-01-01 22:08:20,1.20061,1.20071,1.20061,1.20071,1.20121,1.20131,1.20121,1.20131
2018-01-01 22:08:30,b'True',1,2018-01-01 22:08:30,1.20076,1.20076,1.20076,1.20076,1.20136,1.20136,1.20136,1.20136
2018-01-01 22:08:45,b'True',3,2018-01-01 22:08:45,1.20081,1.20085,1.20075,1.20075,1.20141,1.20145,1.20135,1.20135
2018-01-01 22:08:50,b'True',1,2018-01-01 22:08:50,1.20091,1.20091,1.20091,1.20091,1.20151,1.20151,1.20151,1.20151
2018-01-01 22:09:00,b'True',5,2018-01-01 22:09:00,1.20078,1.20078,1.20059,1.20059,1.20138,1.20138,1.20119,1.20119
2018-01-01 22:09:25,b'True',7,2018-01-01 22:09:25,1.20071,1.20089,1.20067,1.20089,1.20114,1.20149,1.20114,1.20149
2018-01-01 22:09:30,b'True',2,2018-01-01 22:09:30,1.20072,1.20072,1.20068,1.20068,1.20132,1.20132,1.20128,1.20128
2018-01-01 22:09:40,b'True',2,2018-01-01 22:09:40,1.20080,1.20084,1.20080,1.20084,1.20140,1.20144,1.20140,1.20144
2018-01-01 22:09:45,b'True',1,2018-01-01 22:09:45,1.20089,1.20089,1.20089,1.20089,1.20149,1.20149,1.20149,1.20149
2018-01-01 22:10:05,b'True',3,2018-01-01 22:10:05,1.20071,1.20081,1.20067,1.20081,1.20131,1.20131,1.20119,1.20119
2018-01-01 22:10:10,b'True',1,2018-01-01 22:10:10,1.20091,1.20091,1.20091,1.20091,1.20127,1.20127,1.20127,1.20127
2018-01-01 22:10:30,b'True',6,2018-01-01 22:10:30,1.20066,1.20066,1.20056,1.20056,1.20121,1.20121,1.20116,1.20116
2018-01-01 22:11:10,b'True',1,2018-01-01 22:11:10,1.20069,1.20069,1.20069,1.20069,1.20129,1.20129,1.20129,1.20129
2018-01-01 22:14:15,b'True',1,2018-01-01 22:14:15,1.20087,1.20087,1.20087,1.20087,1.20138,1.20138,1.20138,1.20138
...,...,...,...,...,...,...,...,...,...,...,...
2018-01-31 18:54:45,b'True',3,2018-01-31 18:54:45,1.24178,1.24178,1.24178,1.24178,1.24193,1.24195,1.24193,1.24195
2018-01-31 18:54:50,b'True',7,2018-01-31 18:54:50,1.24173,1.24173,1.24165,1.24165,1.24189,1.24189,1.24180,1.24180
2018-01-31 18:54:55,b'True',14,2018-01-31 18:54:55,1.24165,1.24165,1.24155,1.24164,1.24181,1.24181,1.24171,1.24180
2018-01-31 18:55:00,b'True',32,2018-01-31 18:55:00,1.24161,1.24163,1.24142,1.24142,1.24177,1.24178,1.24158,1.24158
2018-01-31 18:55:05,b'True',16,2018-01-31 18:55:05,1.24141,1.24142,1.24131,1.24131,1.24158,1.24159,1.24149,1.24149
2018-01-31 18:55:10,b'True',17,2018-01-31 18:55:10,1.24135,1.24149,1.24135,1.24147,1.24150,1.24166,1.24150,1.24164
2018-01-31 18:55:15,b'True',3,2018-01-31 18:55:15,1.24142,1.24142,1.24137,1.24137,1.24159,1.24159,1.24153,1.24153
2018-01-31 18:55:25,b'True',7,2018-01-31 18:55:25,1.24135,1.24136,1.24134,1.24134,1.24151,1.24152,1.24151,1.24152
2018-01-31 23:55:50,b'True',2,2018-01-31 23:55:50,1.24201,1.24201,1.24201,1.24201,1.24219,1.24219,1.24217,1.24217
2018-01-31 23:55:55,b'True',6,2018-01-31 23:55:55,1.24199,1.24199,1.24193,1.24196,1.24217,1.24217,1.24209,1.24211
2018-01-31 23:56:05,b'True',1,2018-01-31 23:56:05,1.24194,1.24194,1.24194,1.24194,1.24209,1.24209,1.24209,1.24209
2018-01-31 23:56:30,b'True',4,2018-01-31 23:56:30,1.24190,1.24190,1.24184,1.24184,1.24208,1.24208,1.24200,1.24200
2018-01-31 23:56:35,b'True',8,2018-01-31 23:56:35,1.24190,1.24191,1.24185,1.24185,1.24204,1.24208,1.24201,1.24201
2018-01-31 23:56:40,b'True',1,2018-01-31 23:56:40,1.24185,1.24185,1.24185,1.24185,1.24200,1.24200,1.24200,1.24200
2018-01-31 23:56:55,b'True',1,2018-01-31 23:56:55,1.24180,1.24180,1.24180,1.24180,1.24195,1.24195,1.24195,1.24195
2018-01-31 23:57:00,b'True',3,2018-01-31 23:57:00,1.24182,1.24182,1.24176,1.24177,1.24198,1.24198,1.24192,1.24192
2018-01-31 23:57:05,b'True',1,2018-01-31 23:57:05,1.24180,1.24180,1.24180,1.24180,1.24195,1.24195,1.24195,1.24195
2018-01-31 23:57:35,b'True',1,2018-01-31 23:57:35,1.24177,1.24177,1.24177,1.24177,1.24193,1.24193,1.24193,1.24193
2018-01-31 23:57:45,b'True',4,2018-01-31 23:57:45,1.24172,1.24172,1.24162,1.24162,1.24187,1.24187,1.24177,1.24178
2018-01-31 23:57:50,b'True',1,2018-01-31 23:57:50,1.24162,1.24162,1.24162,1.24162,1.24177,1.24177,1.24177,1.24177
2018-01-31 23:57:55,b'True',3,2018-01-31 23:57:55,1.24166,1.24171,1.24166,1.24171,1.24181,1.24188,1.24181,1.24187
2018-01-31 23:58:05,b'True',1,2018-01-31 23:58:05,1.24171,1.24171,1.24171,1.24171,1.24188,1.24188,1.24188,1.24188
2018-01-31 23:58:20,b'True',1,2018-01-31 23:58:20,1.24172,1.24172,1.24172,1.24172,1.24187,1.24187,1.24187,1.24187
2018-01-31 23:58:30,b'True',1,2018-01-31 23:58:30,1.24169,1.24169,1.24169,1.24169,1.24184,1.24184,1.24184,1.24184
2018-01-31 23:59:05,b'True',5,2018-01-31 23:59:05,1.24170,1.24170,1.24167,1.24167,1.24187,1.24188,1.24183,1.24183
2018-01-31 23:59:25,b'True',3,2018-01-31 23:59:25,1.24167,1.24168,1.24167,1.24167,1.24182,1.24182,1.24181,1.24182
2018-01-31 23:59:30,b'True',1,2018-01-31 23:59:30,1.24164,1.24164,1.24164,1.24164,1.24179,1.24179,1.24179,1.24179
2018-01-31 23:59:35,b'True',1,2018-01-31 23:59:35,1.24159,1.24159,1.24159,1.24159,1.24174,1.24174,1.24174,1.24174
2018-01-31 23:59:45,b'True',3,2018-01-31 23:59:45,1.24158,1.24160,1.24158,1.24159,1.24174,1.24174,1.24174,1.24174
2018-02-01 00:00:00,b'True',16,2018-02-01 00:00:00,1.24162,1.24176,1.24162,1.24168,1.24176,1.24191,1.24176,1.24182

Wall time: 31.2 s

In [ ]:
#df_candles['Time'].astype(datetime.datetime)
#df_candles.set_index(pd.DatetimeIndex(df_candles['Time']))

df_candles.index = df_candles['Time']

#df_candles.loc[from_date_text:end_date_text]


print(df_candles[:-5000])

#display(df_candles.loc[from_date_text:end_date_text])



#display(df_candles.loc[from_date_text:end_date_text])

In [ ]:
df_candles = pd.read_pickle('C:\\Users\\pebaqu\\Desktop\\Personal\\Python\\Datasets\\USD_JPY_20180101')

In [ ]:
display(df_candles)

In [ ]:
#df_candles['Time'] = df_candles.index.map(mdates.date2num)

df_candles['Time'].astype(datetime.datetime)

df_candles.set_index(pd.DatetimeIndex(df_candles['Time']))

df_candles['ohlc_date'] = df_candles['Time'].map(mdates.date2num)
display(df_candles)

#display(df_test[:-1])
#display(df_candles)

#print(df_test.dtypes)
#print(df_candles.dtypes)

#df_test.index = df_test['Date']

#df_candles['Time'] = df_candles.index.map(mdates.date2num)

In [ ]:
ohlc = df_candles[['ohlc_date','Bid_Open','Bid_High','Bid_Low','Bid_Close']]

In [ ]:
f1, ax = plt.subplots(figsize = (10,5))

# plot the candlesticks
candlestick_ohlc(ax, ohlc.values, width=.6, colorup='green', colordown='red')
ax.xaxis.set_major_formatter(mdates.DateFormatter('%Y-%m'))

plt.show()

In [ ]:
df_candles.dtypes