In [1]:
#%load_ext memory_profiler
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d
import matplotlib.dates as dates
import datetime
import time
import csv

In [2]:
#%%mprun

df_tick_data = pd.read_csv('C:\\Users\\pebaqu\\Downloads\\USDJPY-2018-01.csv', parse_dates=True )
df_tick_data['TTime']=df_tick_data['TTime'].apply(lambda x: np.datetime64(datetime.datetime.strptime(x, '%Y%m%d %H:%M:%S.%f'),unit = 'ms'))

In [42]:
print(df_tick_data)

            Pair                   TTime      Bid      Ask
0        USD/JPY 2018-01-01 22:01:30.499  112.570  112.800
1        USD/JPY 2018-01-01 22:01:32.143  112.600  112.800
2        USD/JPY 2018-01-01 22:01:50.876  112.614  112.722
3        USD/JPY 2018-01-01 22:02:02.819  112.600  112.800
4        USD/JPY 2018-01-01 22:02:04.139  112.614  112.723
5        USD/JPY 2018-01-01 22:02:22.881  112.600  112.800
6        USD/JPY 2018-01-01 22:03:47.489  112.613  112.714
7        USD/JPY 2018-01-01 22:03:48.641  112.610  112.696
8        USD/JPY 2018-01-01 22:04:02.814  112.605  112.695
9        USD/JPY 2018-01-01 22:04:04.288  112.603  112.704
10       USD/JPY 2018-01-01 22:04:04.614  112.610  112.688
11       USD/JPY 2018-01-01 22:04:04.670  112.600  112.690
12       USD/JPY 2018-01-01 22:04:04.775  112.600  112.700
13       USD/JPY 2018-01-01 22:04:04.883  112.610  112.688
14       USD/JPY 2018-01-01 22:04:04.937  112.600  112.690
15       USD/JPY 2018-01-01 22:04:04.990  112.600  112.700
16       USD/JPY 2018-01-01 22:04:22.910  112.600  112.720
17       USD/JPY 2018-01-01 22:04:35.906  112.586  112.711
18       USD/JPY 2018-01-01 22:05:01.819  112.570  112.800
19       USD/JPY 2018-01-01 22:05:02.876  112.570  112.725
20       USD/JPY 2018-01-01 22:05:11.752  112.613  112.714
21       USD/JPY 2018-01-01 22:05:27.504  112.562  112.740
22       USD/JPY 2018-01-01 22:05:30.559  112.554  112.732
23       USD/JPY 2018-01-01 22:05:41.455  112.598  112.700
24       USD/JPY 2018-01-01 22:05:41.457  112.597  112.698
25       USD/JPY 2018-01-01 22:05:41.569  112.600  112.698
26       USD/JPY 2018-01-01 22:05:42.357  112.600  112.700
27       USD/JPY 2018-01-01 22:05:50.753  112.600  112.699
28       USD/JPY 2018-01-01 22:05:52.544  112.598  112.699
29       USD/JPY 2018-01-01 22:06:00.427  112.600  112.800
...          ...                     ...      ...      ...
3185477  USD/JPY 2018-01-31 23:59:47.024  109.200  109.204
3185478  USD/JPY 2018-01-31 23:59:47.263  109.199  109.204
3185479  USD/JPY 2018-01-31 23:59:47.263  109.199  109.203
3185480  USD/JPY 2018-01-31 23:59:48.034  109.199  109.202
3185481  USD/JPY 2018-01-31 23:59:48.036  109.198  109.202
3185482  USD/JPY 2018-01-31 23:59:50.200  109.197  109.200
3185483  USD/JPY 2018-01-31 23:59:50.259  109.196  109.200
3185484  USD/JPY 2018-01-31 23:59:51.493  109.197  109.201
3185485  USD/JPY 2018-01-31 23:59:51.610  109.197  109.200
3185486  USD/JPY 2018-01-31 23:59:51.892  109.197  109.201
3185487  USD/JPY 2018-01-31 23:59:52.458  109.197  109.200
3185488  USD/JPY 2018-01-31 23:59:52.951  109.197  109.201
3185489  USD/JPY 2018-01-31 23:59:53.009  109.196  109.200
3185490  USD/JPY 2018-01-31 23:59:53.635  109.196  109.199
3185491  USD/JPY 2018-01-31 23:59:53.689  109.196  109.200
3185492  USD/JPY 2018-01-31 23:59:53.805  109.196  109.199
3185493  USD/JPY 2018-01-31 23:59:54.080  109.196  109.200
3185494  USD/JPY 2018-01-31 23:59:54.308  109.196  109.199
3185495  USD/JPY 2018-01-31 23:59:54.583  109.196  109.200
3185496  USD/JPY 2018-01-31 23:59:56.506  109.196  109.199
3185497  USD/JPY 2018-01-31 23:59:56.796  109.196  109.200
3185498  USD/JPY 2018-01-31 23:59:57.024  109.196  109.199
3185499  USD/JPY 2018-01-31 23:59:57.257  109.196  109.200
3185500  USD/JPY 2018-01-31 23:59:57.313  109.196  109.199
3185501  USD/JPY 2018-01-31 23:59:57.481  109.196  109.200
3185502  USD/JPY 2018-01-31 23:59:58.496  109.196  109.199
3185503  USD/JPY 2018-01-31 23:59:58.883  109.196  109.198
3185504  USD/JPY 2018-01-31 23:59:58.998  109.193  109.199
3185505  USD/JPY 2018-01-31 23:59:59.052  109.195  109.199
3185506  USD/JPY 2018-01-31 23:59:59.945  109.195  109.198

[3185507 rows x 4 columns]

In [60]:
%%time
'''Creating empty base and final arrays'''

arr_data=df_tick_data[:100] #need to 1)find right datatype (smallest) 2)optimize structure, and 3)determine memory usage
#print(test_data)

arr_base_len=len(arr_data.index)
arr_final_len= len(arr_data.index)-1
#arr_final_len= (len(arr_data.index)*(len(arr_data.index)-1))//2


arr_base=np.zeros(arr_base_len, dtype={'names':('TTime','Bid','Ask'),
                          'formats':('datetime64[ms]','f8','f8')})

arr_final=np.zeros(arr_final_len, dtype={'names':('PTime','STime', 'PTBid','PTAsk', 'STBid', 'STAsk', 'Profit', 'SBid_Ask_Spread','PBid_Ask_Spread','TimeDelta'),
                          'formats':('datetime64[ms]','datetime64[ms]', 'f8','f8','f8','f8','f8','f8','f8','timedelta64[ms]')})

#test_arr_1=np.zeros((arr_len,4))
#test_arr_1[0]


#print(test_arr_1[1][1])
#print(test_arr_1[1].shape)
#print(test_arr_1)
#test_arr_1

'''
print(test_arr.shape)

print(test_data.count)
print(test_data.shape)
print(len(test_data.index))
'''
print(arr_final.dtype.itemsize)
print(arr_final.nbytes)
print(arr_final)

80
7920
[('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)
 ('1970-01-01T00:00:00.000', '1970-01-01T00:00:00.000', 0., 0., 0., 0., 0., 0., 0., 0)]
Wall time: 12 ms

In [58]:
%%time

'''This writes the dataframe to an array'''
for index, row in arr_data.iterrows():
    #print(index, test_data.loc[index,'TTime'])
    arr_base[index]=(arr_data.loc[index,'TTime'], arr_data.loc[index,'Bid'],arr_data.loc[index,'Ask'])
    
    #ttime = np.datetime64(datetime.datetime.strptime(str(test_data.loc[index,'TTime'])[:-3],'%Y-%m-%d %H:%M:%S.%f'),unit='ms')
    #pprice = test_data.loc[index,'Bid']
    #print(test_arr_1[index][0]) #this is the right way to get the data in an array
    #print(ttime)
    #test_arr_1[index]=(ttime,test_data.loc[index,'TTime'],pprice,test_data.loc[index,'Bid'],pprice-test_data.loc[index,'Bid'])
    #test_arr_1[index][3]=test_data.loc[index,'Bid']
print(arr_base.shape)
print(arr_base)

(10,)
[('2018-01-01T22:01:30.499', 112.57 , 112.8  )
 ('2018-01-01T22:01:32.143', 112.6  , 112.8  )
 ('2018-01-01T22:01:50.876', 112.614, 112.722)
 ('2018-01-01T22:02:02.819', 112.6  , 112.8  )
 ('2018-01-01T22:02:04.139', 112.614, 112.723)
 ('2018-01-01T22:02:22.881', 112.6  , 112.8  )
 ('2018-01-01T22:03:47.489', 112.613, 112.714)
 ('2018-01-01T22:03:48.641', 112.61 , 112.696)
 ('2018-01-01T22:04:02.814', 112.605, 112.695)
 ('2018-01-01T22:04:04.288', 112.603, 112.704)]
Wall time: 2 ms

In [59]:
%%time
'''This is the final array (concat + PTime, STime, PPrice, SPrice, Profit). 
This is using the index logic and not go through each row.
Need to use multiprocessor.'''

y=0
curr_row=0
total_concat_rows=0
for x in np.nditer(arr_base):
    
    first_arr=np.take(arr_base, np.where(arr_base['TTime']==np.datetime64(x['TTime'])))#subset purchase time and price
    ptime=first_arr[0][0][0]#assign purchase time
    pprice=first_arr[0][0][1]#assign purchase bid
    ptask=first_arr[0][0][2]#assign the purchase ask
    concat_array=np.take(arr_base, np.where(arr_base['TTime']>np.datetime64(x['TTime'])))#subset all subsequent datapoints
    concat_rows=concat_array.size#determine size of subset
    arr_analysis=np.zeros(concat_rows, dtype={'names':('PTime','STime', 'PTBid', 'STBid','PTAsk','STAsk', 'Profit','SBid_Ask_Spread','PBid_Ask_Spread','TimeDelta'),#create analysis array for subset
                          'formats':('datetime64[ms]','datetime64[ms]', 'f8','f8','f8','f8','f8','f8','f8','timedelta64[ms]')})
    
    
    
    #total_concat_rows=total_concat_rows+concat_rows
    '''
    arr_analysis['PTime']=ptime#assign purchase time to entire column [curr_row:total_concat_rows]
    arr_analysis['PTBid']=pprice#assign purchase price to entire column [curr_row:total_concat_rows]
    arr_analysis['PTAsk']=ptask#assign purchase price to entire column [curr_row:total_concat_rows]
    #print(arr_analysis)
    '''
    
    arr_analysis[['PTime','PTBid','PTAsk']]= ptime, pprice, ptask
    
    if concat_array.shape != (1,0):
        
        arr_analysis[['STBid', 'STime', 'STAsk']] = concat_array[0][['Bid', 'TTime', 'Ask']]
        
        profit = concat_array[0]['Bid']-arr_analysis[0]['PTBid']
        pbid_ask_spread = arr_analysis[0]['PTBid']-concat_array[0]['Ask']
        print("pbid_ask_spread is" , pbid_ask_spread)
        print("profit is" ,profit)
        
        #arr_analysis[['Profit', 'PBid_Ask_Spread', 'TimeDelta']] = profit, pbid_ask_spread, arr_analysis['STime']-arr_analysis['PTime']
        arr_analysis[['Profit']]= profit            
        
        #arr_analysis['STBid']=concat_array[0]['Bid']
        #arr_analysis['STime']=concat_array[0]['TTime']#assign sale time based on transaction time (ptime) [curr_row:total_concat_rows]
        #arr_analysis['STAsk']=concat_array[0]['Ask']#assign sale price based on ask value [curr_row:total_concat_rows]
        #arr_analysis['Profit']=concat_array[0]['Bid']-arr_analysis[0]['PTBid']
        #arr_analysis['SBid_Ask_Spread']=concat_array[0]['Bid']-concat_array[0]['Ask']
        #arr_analysis['PBid_Ask_Spread']=arr_analysis[0]['PTBid']-concat_array[0]['Ask']
        arr_analysis['TimeDelta']=arr_analysis['STime']-arr_analysis['PTime']
        
        arr_profit=np.take(arr_analysis, np.where(arr_analysis['Profit']==np.amax(arr_analysis['Profit'])))
        
        
        arr_time=np.unique(np.take(arr_profit, np.where(arr_profit['TimeDelta']==np.amin(arr_profit['TimeDelta']))))
        
        arr_final[y]=arr_time[0]
        
        #this is old code, comment out
        '''
        arr_final[y]['PTime']=arr_time[0]['PTime']
        arr_final[y]['STime']=arr_time[0]['STime']
        arr_final[y]['PTBid']=arr_time[0]['PTBid']
        arr_final[y]['STBid']=arr_time[0]['STBid']
        arr_final[y]['PTAsk']=arr_time[0]['PTAsk']
        arr_final[y]['STAsk']=arr_time[0]['STAsk']
        arr_final[y]['Profit']=arr_time[0]['Profit']
        #arr_final[y]['SBid_Ask_Spread']=arr_time[0]['SBid_Ask_Spread']
        #arr_final[y]['PBid_Ask_Spread']=arr_time[0]['PBid_Ask_Spread']
        arr_final[y]['TimeDelta']=arr_time[0]['TimeDelta']
        '''
    y+=1
    curr_row=curr_row+concat_rows
    
print(arr_final)

pbid_ask_spread is [-0.23  -0.152 -0.23  -0.153 -0.23  -0.144 -0.126 -0.125 -0.134]
profit is [0.03  0.044 0.03  0.044 0.03  0.043 0.04  0.035 0.033]
pbid_ask_spread is [-0.122 -0.2   -0.123 -0.2   -0.114 -0.096 -0.095 -0.104]
profit is [0.014 0.    0.014 0.    0.013 0.01  0.005 0.003]
pbid_ask_spread is [-0.186 -0.109 -0.186 -0.1   -0.082 -0.081 -0.09 ]
profit is [-0.014  0.    -0.014 -0.001 -0.004 -0.009 -0.011]
pbid_ask_spread is [-0.123 -0.2   -0.114 -0.096 -0.095 -0.104]
profit is [0.014 0.    0.013 0.01  0.005 0.003]
pbid_ask_spread is [-0.186 -0.1   -0.082 -0.081 -0.09 ]
profit is [-0.014 -0.001 -0.004 -0.009 -0.011]
pbid_ask_spread is [-0.114 -0.096 -0.095 -0.104]
profit is [0.013 0.01  0.005 0.003]
pbid_ask_spread is [-0.083 -0.082 -0.091]
profit is [-0.003 -0.008 -0.01 ]
pbid_ask_spread is [-0.085 -0.094]
profit is [-0.005 -0.007]
pbid_ask_spread is [-0.099]
profit is [-0.002]
[('2018-01-01T22:01:30.499', '2018-01-01T22:01:50.876', 112.57 , 112.614, 112.8  , 112.722,  0.044, 0., 0.,  20377)
 ('2018-01-01T22:01:32.143', '2018-01-01T22:01:50.876', 112.6  , 112.614, 112.8  , 112.722,  0.014, 0., 0.,  18733)
 ('2018-01-01T22:01:50.876', '2018-01-01T22:02:04.139', 112.614, 112.614, 112.722, 112.723,  0.   , 0., 0.,  13263)
 ('2018-01-01T22:02:02.819', '2018-01-01T22:02:04.139', 112.6  , 112.614, 112.8  , 112.723,  0.014, 0., 0.,   1320)
 ('2018-01-01T22:02:04.139', '2018-01-01T22:03:47.489', 112.614, 112.613, 112.723, 112.714, -0.001, 0., 0., 103350)
 ('2018-01-01T22:02:22.881', '2018-01-01T22:03:47.489', 112.6  , 112.613, 112.8  , 112.714,  0.013, 0., 0.,  84608)
 ('2018-01-01T22:03:47.489', '2018-01-01T22:03:48.641', 112.613, 112.61 , 112.714, 112.696, -0.003, 0., 0.,   1152)
 ('2018-01-01T22:03:48.641', '2018-01-01T22:04:02.814', 112.61 , 112.605, 112.696, 112.695, -0.005, 0., 0.,  14173)
 ('2018-01-01T22:04:02.814', '2018-01-01T22:04:04.288', 112.605, 112.603, 112.695, 112.704, -0.002, 0., 0.,   1474)]
Wall time: 10 ms

In [9]:
print(arr_final[['PTime','STime']])

[('2018-01-01T22:01:30.499', '2018-01-01T23:24:04.061')
 ('2018-01-01T22:01:32.143', '2018-01-01T23:24:04.061')
 ('2018-01-01T22:01:50.876', '2018-01-01T23:24:04.061') ...
 ('2018-01-01T23:24:06.069', '2018-01-01T23:24:12.401')
 ('2018-01-01T23:24:08.281', '2018-01-01T23:24:12.401')
 ('2018-01-01T23:24:12.347', '2018-01-01T23:24:12.401')]

In [47]:
from IPython.display import display
pd.options.display.max_columns = None
df_final=pd.DataFrame(data=arr_final)
display(df_final.sort_values(by=['Profit'], ascending=False))

,PTime,STime,PTBid,PTAsk,STBid,STAsk,Profit,SBid_Ask_Spread,PBid_Ask_Spread,TimeDelta
22,2018-01-01 22:05:30.559,2018-01-01 23:24:04.061,112.554,112.693,112.732,112.698,0.139,0.0,0.0,01:18:33.502000
21,2018-01-01 22:05:27.504,2018-01-01 23:24:04.061,112.562,112.693,112.740,112.698,0.131,0.0,0.0,01:18:36.557000
0,2018-01-01 22:01:30.499,2018-01-01 23:24:04.061,112.570,112.693,112.800,112.698,0.123,0.0,0.0,01:22:33.562000
1456,2018-01-01 22:36:30.045,2018-01-01 23:24:04.061,112.570,112.693,112.588,112.698,0.123,0.0,0.0,00:47:34.016000
103,2018-01-01 22:10:32.270,2018-01-01 23:24:04.061,112.570,112.693,112.658,112.698,0.123,0.0,0.0,01:13:31.791000
19,2018-01-01 22:05:02.876,2018-01-01 23:24:04.061,112.570,112.693,112.725,112.698,0.123,0.0,0.0,01:19:01.185000
18,2018-01-01 22:05:01.819,2018-01-01 23:24:04.061,112.570,112.693,112.800,112.698,0.123,0.0,0.0,01:19:02.242000
1473,2018-01-01 22:36:31.537,2018-01-01 23:24:04.061,112.571,112.693,112.590,112.698,0.122,0.0,0.0,00:47:32.524000
1312,2018-01-01 22:32:32.754,2018-01-01 23:24:04.061,112.571,112.693,112.604,112.698,0.122,0.0,0.0,00:51:31.307000
1313,2018-01-01 22:32:32.755,2018-01-01 23:24:04.061,112.572,112.693,112.604,112.698,0.121,0.0,0.0,00:51:31.306000
1472,2018-01-01 22:36:31.266,2018-01-01 23:24:04.061,112.572,112.693,112.590,112.698,0.121,0.0,0.0,00:47:32.795000
1474,2018-01-01 22:36:31.595,2018-01-01 23:24:04.061,112.572,112.693,112.591,112.698,0.121,0.0,0.0,00:47:32.466000
1457,2018-01-01 22:36:30.233,2018-01-01 23:24:04.061,112.573,112.693,112.588,112.698,0.120,0.0,0.0,00:47:33.828000
1459,2018-01-01 22:36:30.305,2018-01-01 23:24:04.061,112.573,112.693,112.590,112.698,0.120,0.0,0.0,00:47:33.756000
1471,2018-01-01 22:36:31.205,2018-01-01 23:24:04.061,112.573,112.693,112.590,112.698,0.120,0.0,0.0,00:47:32.856000
1469,2018-01-01 22:36:30.517,2018-01-01 23:24:04.061,112.574,112.693,112.590,112.698,0.119,0.0,0.0,00:47:33.544000
1454,2018-01-01 22:36:29.974,2018-01-01 23:24:04.061,112.576,112.693,112.588,112.698,0.117,0.0,0.0,00:47:34.087000
1458,2018-01-01 22:36:30.245,2018-01-01 23:24:04.061,112.576,112.693,112.588,112.698,0.117,0.0,0.0,00:47:33.816000
1470,2018-01-01 22:36:31.034,2018-01-01 23:24:04.061,112.577,112.693,112.590,112.698,0.116,0.0,0.0,00:47:33.027000
1460,2018-01-01 22:36:30.315,2018-01-01 23:24:04.061,112.577,112.693,112.603,112.698,0.116,0.0,0.0,00:47:33.746000
1468,2018-01-01 22:36:30.459,2018-01-01 23:24:04.061,112.577,112.693,112.590,112.698,0.116,0.0,0.0,00:47:33.602000
1464,2018-01-01 22:36:30.387,2018-01-01 23:24:04.061,112.580,112.693,112.603,112.698,0.113,0.0,0.0,00:47:33.674000
1465,2018-01-01 22:36:30.391,2018-01-01 23:24:04.061,112.580,112.693,112.607,112.698,0.113,0.0,0.0,00:47:33.670000
1461,2018-01-01 22:36:30.380,2018-01-01 23:24:04.061,112.580,112.693,112.610,112.698,0.113,0.0,0.0,00:47:33.681000
1462,2018-01-01 22:36:30.384,2018-01-01 23:24:04.061,112.580,112.693,112.603,112.698,0.113,0.0,0.0,00:47:33.677000
1466,2018-01-01 22:36:30.448,2018-01-01 23:24:04.061,112.580,112.693,112.590,112.698,0.113,0.0,0.0,00:47:33.613000
3745,2018-01-01 22:52:42.707,2018-01-01 23:24:04.061,112.581,112.693,112.608,112.698,0.112,0.0,0.0,00:31:21.354000
3815,2018-01-01 22:52:58.122,2018-01-01 23:24:04.061,112.581,112.693,112.609,112.698,0.112,0.0,0.0,00:31:05.939000
3811,2018-01-01 22:52:57.219,2018-01-01 23:24:04.061,112.581,112.693,112.611,112.698,0.112,0.0,0.0,00:31:06.842000
3813,2018-01-01 22:52:57.643,2018-01-01 23:24:04.061,112.581,112.693,112.611,112.698,0.112,0.0,0.0,00:31:06.418000
...,...,...,...,...,...,...,...,...,...,...
9963,2018-01-01 23:23:50.820,2018-01-01 23:24:04.061,112.685,112.693,112.691,112.698,0.008,0.0,0.0,00:00:13.241000
9971,2018-01-01 23:23:58.437,2018-01-01 23:24:04.061,112.685,112.693,112.690,112.698,0.008,0.0,0.0,00:00:05.624000
9977,2018-01-01 23:23:58.800,2018-01-01 23:24:04.061,112.686,112.693,112.694,112.698,0.007,0.0,0.0,00:00:05.261000
9980,2018-01-01 23:24:00.319,2018-01-01 23:24:04.061,112.686,112.693,112.694,112.698,0.007,0.0,0.0,00:00:03.742000
9978,2018-01-01 23:23:59.506,2018-01-01 23:24:04.061,112.686,112.693,112.691,112.698,0.007,0.0,0.0,00:00:04.555000
9979,2018-01-01 23:24:00.142,2018-01-01 23:24:04.061,112.686,112.693,112.692,112.698,0.007,0.0,0.0,00:00:03.919000
9975,2018-01-01 23:23:58.681,2018-01-01 23:24:04.061,112.687,112.693,112.691,112.698,0.006,0.0,0.0,00:00:05.380000
9974,2018-01-01 23:23:58.681,2018-01-01 23:24:04.061,112.687,112.693,112.691,112.698,0.006,0.0,0.0,00:00:05.380000
9976,2018-01-01 23:23:58.685,2018-01-01 23:24:04.061,112.687,112.693,112.694,112.698,0.006,0.0,0.0,00:00:05.376000
9965,2018-01-01 23:23:50.884,2018-01-01 23:24:04.061,112.688,112.693,112.693,112.698,0.005,0.0,0.0,00:00:13.177000
9964,2018-01-01 23:23:50.881,2018-01-01 23:24:04.061,112.688,112.693,112.691,112.698,0.005,0.0,0.0,00:00:13.180000
9981,2018-01-01 23:24:03.300,2018-01-01 23:24:04.061,112.688,112.693,112.694,112.698,0.005,0.0,0.0,00:00:00.761000
9982,2018-01-01 23:24:03.302,2018-01-01 23:24:04.061,112.688,112.693,112.695,112.698,0.005,0.0,0.0,00:00:00.759000
9966,2018-01-01 23:23:50.994,2018-01-01 23:24:04.061,112.689,112.693,112.693,112.698,0.004,0.0,0.0,00:00:13.067000
9983,2018-01-01 23:24:03.407,2018-01-01 23:24:04.061,112.689,112.693,112.695,112.698,0.004,0.0,0.0,00:00:00.654000
9984,2018-01-01 23:24:03.460,2018-01-01 23:24:04.061,112.689,112.693,112.696,112.698,0.004,0.0,0.0,00:00:00.601000
9988,2018-01-01 23:24:04.065,2018-01-01 23:24:04.230,112.690,112.693,112.698,112.698,0.003,0.0,0.0,00:00:00.165000
9985,2018-01-01 23:24:03.518,2018-01-01 23:24:04.061,112.690,112.693,112.696,112.698,0.003,0.0,0.0,00:00:00.543000
9995,2018-01-01 23:24:06.004,2018-01-01 23:24:12.401,112.689,112.691,112.697,112.694,0.002,0.0,0.0,00:00:06.397000
9998,2018-01-01 23:24:12.347,2018-01-01 23:24:12.401,112.689,112.691,112.694,112.694,0.002,0.0,0.0,00:00:00.054000
9989,2018-01-01 23:24:04.175,2018-01-01 23:24:04.230,112.691,112.693,112.698,112.698,0.002,0.0,0.0,00:00:00.055000
9986,2018-01-01 23:24:03.628,2018-01-01 23:24:04.061,112.691,112.693,112.697,112.698,0.002,0.0,0.0,00:00:00.433000
9991,2018-01-01 23:24:04.338,2018-01-01 23:24:04.604,112.691,112.692,112.698,112.698,0.001,0.0,0.0,00:00:00.266000
9994,2018-01-01 23:24:04.669,2018-01-01 23:24:12.401,112.690,112.691,112.697,112.694,0.001,0.0,0.0,00:00:07.732000
9996,2018-01-01 23:24:06.069,2018-01-01 23:24:12.401,112.690,112.691,112.697,112.694,0.001,0.0,0.0,00:00:06.332000
9997,2018-01-01 23:24:08.281,2018-01-01 23:24:12.401,112.690,112.691,112.696,112.694,0.001,0.0,0.0,00:00:04.120000
9987,2018-01-01 23:24:04.061,2018-01-01 23:24:04.230,112.693,112.693,112.698,112.698,0.000,0.0,0.0,00:00:00.169000
9990,2018-01-01 23:24:04.230,2018-01-01 23:24:04.604,112.693,112.692,112.698,112.698,-0.001,0.0,0.0,00:00:00.374000
9992,2018-01-01 23:24:04.604,2018-01-01 23:24:12.401,112.692,112.691,112.698,112.694,-0.001,0.0,0.0,00:00:07.797000
9993,2018-01-01 23:24:04.604,2018-01-01 23:24:12.401,112.692,112.691,112.698,112.694,-0.001,0.0,0.0,00:00:07.797000

In [37]:
print(np.argsort(arr_final, order=('Profit')))

[9993 9992 9990 ... 1456   21   22]

In [35]:
print(np.take(arr_final, np.where(np.amax(arr_final['Profit'])==arr_final['Profit'])))

[[('2018-01-01T22:05:30.559', '2018-01-01T23:24:04.061', 112.554, 112.693, 112.732, 112.698, 0.139, 0., 0., 4713502)]]

In [39]:
concat_array=np.take(arr_base, np.where(arr_base['STime']>np.datetime64(x['STime'])))
print(concat_array)
print(concat_array[0]['PTime'])
#print(arr_base)

[[('2018-01-01T22:01:32.143', '2018-01-01T22:01:32.143', 112.6  , 112.6  )
  ('2018-01-01T22:01:50.876', '2018-01-01T22:01:50.876', 112.614, 112.614)
  ('2018-01-01T22:02:02.819', '2018-01-01T22:02:02.819', 112.6  , 112.6  )
  ('2018-01-01T22:02:04.139', '2018-01-01T22:02:04.139', 112.614, 112.614)
  ('2018-01-01T22:02:22.881', '2018-01-01T22:02:22.881', 112.6  , 112.6  )
  ('2018-01-01T22:03:47.489', '2018-01-01T22:03:47.489', 112.613, 112.613)
  ('2018-01-01T22:03:48.641', '2018-01-01T22:03:48.641', 112.61 , 112.61 )
  ('2018-01-01T22:04:02.814', '2018-01-01T22:04:02.814', 112.605, 112.605)
  ('2018-01-01T22:04:04.288', '2018-01-01T22:04:04.288', 112.603, 112.603)]]
['2018-01-01T22:01:32.143' '2018-01-01T22:01:50.876'
 '2018-01-01T22:02:02.819' '2018-01-01T22:02:04.139'
 '2018-01-01T22:02:22.881' '2018-01-01T22:03:47.489'
 '2018-01-01T22:03:48.641' '2018-01-01T22:04:02.814'
 '2018-01-01T22:04:04.288']